<div data-current-page-index-target>
  {{yield}}

  <div class="ecad__footer" data-test-edit-page-link>
    <a href={{editCurrentPageUrl}} class='ecad__footer__edit-page-link'>Edit this page</a>
    <a href="javascript:window.scrollTo(0, 0);" class='ecad__footer__scroll-to-top-link'>Back to top</a>
  </div>
</div>
